<mat-toolbar color="primary"  class="mat-elevation-z8"><span><mat-icon></mat-icon>Oldalneve_</span>
  <div class="spacer"></div>
<a mat-button routerLink="mainpage"><mat-icon>home</mat-icon>Főoldal</a>
<a mat-button routerLink="hotelmenu"><mat-icon>hotel</mat-icon>Hotelek</a>
<a mat-button routerLink="aboutus"><mat-icon>mail</mat-icon>Elérhetőségek</a>
  <a mat-button routerLink="singup">Regisztráció</a>
<a mat-raised-button color="accent" routerLink="login"><mat-icon>login</mat-icon>login</a>

</mat-toolbar>
